#content {
  min-height: 500px;
  padding-top: 3rem;
  overflow: hidden;
}

.block-title {
  width: 100%;
  text-align: center;
  margin-bottom: 5rem;

  .title {
    position: relative;
    width: 240px;
    margin: 0 auto;
    display: inline-block;
    font-size: 1.875rem;
    font-weight: 600;
    font-family: "Noto Sans TC", sans-serif;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 12px);
      left: 32px;
      width: 3px;
      height: 32px;
      background: $orange;
      transform: rotate(-25deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: calc(50% - 12px);
      right: 32px;
      width: 3px;
      height: 32px;
      background: $orange;
      transform: rotate(25deg);
    }
  }
}

#page-content {
  padding-top: 4rem;
  padding-bottom: 4rem;
  min-height: 500px;
}

.page-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 24px;
}

#product-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.product-page-item {
  position: relative;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
  transition: all 0.3s;

  .title {
    position: relative;
    color: $orange;
    font-family: "Noto Sans TC";
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 24px;

    .price {
      font-size: 1.125rem;
    }
  }

  .img {
    position: relative;
    display: block;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    border: solid 3px $orange;
    border-radius: 50%;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 0%;
      height: 0%;
      border-radius: 50%;
      background: rgba($orange, 0.5);
      transition: all 0.3s;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 72px;
    bottom: 84px;
    color: #fff;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background: $orange;
    transition: all 0.3s;

    a {
      color: #fff;
      text-align: center;
    }
  }

  &:hover {
    .btn {
      background: $blue;
    }

    .img::after {
      width: 100%;
      height: 100%;
      transition: all 0.3;
    }
  }
}

#product-page {
  .img {
    position: relative;
    margin: 0 12px;
    text-align: center;
    overflow: hidden;

    img {
      border: solid 3px $orange;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      max-height: 612px;
      object-fit: cover;
      object-position: center;
      transition: all 0.3s;

      @include wide {
        max-height: 432px;
      }

      @include desktop {
        max-height: 312px;
      }

      @include tablet-landscape {
        max-height: 492px;
      }

      @include tablet-portrait {
        max-height: 454px;
      }

      @include iphone {
        max-height: 366px;
      }
    }
  }

  .info {
    padding: 24px;
    margin-top: 30px;

    .badge {
      padding: 7px 24px;
      font-size: 1rem;
      border-radius: 30px;
    }

    .title {
      position: relative;
      font-family: "Noto Sans TC";
      font-weight: 600;
      font-size: 1.5rem;
      margin-top: 24px;
    }

    .price {
      margin-top: 16px;
      margin-bottom: 34px;
      font-family: "Noto Sans TC";
      font-weight: 500;
    }

    .description {
      margin-top: 32px;
    }

    .content {
      margin-top: 16px;
    }

    .buttons {
      margin-top: 5rem;
      display: flex;
    }

    @include desktop {
      margin-top: 0;

      .title {
        margin-top: 16px;
      }

      .price {
        margin-bottom: 16px;
      }

      .description {
        margin-top: 16px;
      }
    }
  }
}

.cartStep {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  margin-bottom: 24px;
}

.stepItem {
  width: 130px;
  height: 130px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  border: solid 1px #adadad;
  border-radius: 50%;
  font-weight: 600;
  text-align: center;
  margin: 16px;

  @include tablet-landscape {
    width: 95px;
    height: 95px;
    margin: 4px;

    p {
      margin: 0;
    }
  }

  .numText {
    color: #adadad;
    font-size: 2rem;
    font-weight: 600;
    display: inline-block;
    margin: 0 4px;

    @include tablet-landscape {
      font-size: 1.5rem;
    }
  }

  &.active {
    border: solid 1px #fff;
    color: #fff !important;
    background: $orange;

    .numText {
      color: #fff;
    }
  }
}

.orderDetail {
  padding: 20px;
  background: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

  p {
    margin-bottom: 8px;
  }

  .title {
    padding: 8px;
    font-size: 1.125rem;
    font-weight: 600;
    border-bottom: solid 1px #eee;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 8px;
    background: #f1f1f1;

    li {
      padding: 8px;

      .title {
        font-weight: 600;
        font-size: 1.125rem;
      }
    }
  }
}

.orderInfo {
  padding: 20px;
  background: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    .title {
      font-size: 1.125rem;
      font-weight: 600;
    }

    li {
      padding: 8px;
      border-bottom: solid 1px #eee;
    }
  }
}

.completed-text {
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;

  .title {
    padding: 8px 16px;
    font-size: 1.5rem;
    border-bottom: solid 1px #eee;
    margin-bottom: 16px;
  }

  .text {
    font-size: 1.125rem;
  }
}

#product-order {
  padding: 0 32px;
}

#product-pay {
  .block-title {
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 24px;
  }

  .order-form {
    padding: 8px;
  }

  .order-detail {
    background: #f9f9f9;
  }
}

#order-list {
  .order-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: all 0.3s;

    &:hover {
      .order-btn {
        background: rgba($blue, 0.6);
        border: solid 1px $blue;
        z-index: 2;
        transition: all 0.2s;
      }
    }

    .img {
      width: 200px;
      height: 200px;
      border: solid 3px $orange;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .title {
      font-size: 1.25rem;
      font-weight: 600;
      color: $orange;
      margin-top: 22px;
      margin-bottom: 8px;
    }

    .price {
      font-weight: 600;
      color: $orange;
    }

    .order-btn {
      width: 194px;
      height: 194px;
      position: absolute;
      top: 3px;
      left: 50%;
      transform: translateX(-50%);
      padding: 4px 16px;
      font-weight: 600;
      color: #fff;
      background: transparent;
      border-radius: 50%;
      border: none;
      transition: all 0.3s;
      z-index: -1;

      @include desktop {
        top: 180px;
        border-radius: 30px;
        width: auto;
        height: auto;
        color: #fff;
        background: $blue;
        z-index: 2;
      }
    }
  }
}

#about-page {
  .img {
    width: 100%;
    height: 425px;
    border-radius: 8px;
    margin: 16px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .info {
    height: 100%;
    padding: 0 24px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    
    p {
      line-height: 2;
    }

    .subtitle {
      font-family: "Noto Sans TC", sans-serif;
      font-weight: 500;
      font-size: 1.5rem;
      color: $orange;
      margin-bottom: 24px;
    }
  }
}

.news-item {
  padding: 16px;
  border-bottom: solid 1px #e1e1e1;

  .date {
    margin-bottom: 16px;
  }

  .title {
    color: $text;
    font-weight: 600;

    &:hover {
      color: $orange;
    }
  }
}

#checkOrder {
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-label {
    min-width: 80px;
    margin-bottom: 0;
  }

  .form-control {
    margin: 0 12px;
  }

  .btn-primary {
    min-width: 100px;
  }

  .query {
    margin-top: 24px;
    word-break: break-all;

    .title {
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      margin: 16px 0;
      border-bottom: solid 1px #eee;
    }
  }
}