.btn-primary {
	background: $orange;
	border: solid 1px $orange;
	border-radius: 30px;

	&:hover {
		background: lighten($color: $orange, $amount: 5%);
		border: solid 1px $orange;
	}

	@include desktop {
		padding: 6px 20px;
	}
}

.btn-outline-secondary {
	background: #fff;
	color: $orange;
	border: solid 1px $orange;
	border-radius: 30px;

	&:hover {
		background: lighten($color: $orange, $amount: 5%);
		border: solid 1px $orange;
		color: #fff;
	}
}

.btn-outline-danger {
	border-radius: 30px;
}

.btn-danger {
	border-radius: 30px;
}

.box-outline {
	border: solid 1px #eee;
}