// color
$blue: #2D81FF !default;
$orange: #FF782D !default;
$yellow: #FFA800 !default;
$green: #185203 !default;
$text: #212529 !default;

a {
	text-decoration: none;
	color: $orange;

	&:hover {
		color: $blue;
	}
}