.header-container{
	position: relative;
	height: 80px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	.logo{
		display: inline-block;
		position: absolute;
		top: 0;
		left: 5%;
		z-index: 1;
	}
	nav{
		margin-left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		a{
			display: block;
			color: #272727;
			font-size: 1.125rem;
			font-family: 'Noto Sans TC', sans-serif;
			font-weight: 500;
			margin: 0 12px;
			transition: all 0.3s;
			&:hover{
				color: $orange;
				transition: all 0.3s;
			}
		}
	}
	.cart-btn{
		display: flex;
		justify-content: center;
		align-items: center;
		background: $orange;
		color: #fff;
		width: 106px;
		height: 48px;
		border-radius: 50px;
		text-align: center;
		transition: all 0.3s;
		.material-symbols-outlined{
			font-size: 36px;
		}
		&:hover{
			background: darken( $orange, 10% );
			transition: all 0.3s;
		}
	}
}
#banner{
	max-height: 700px;
	overflow: hidden;
	img{
		width: 100%;
	}
}
#content{
	min-height: 500px;
	padding-top: 3rem;
	.block-title{
		width: 100%;
		text-align: center;
		margin-bottom:  5rem;
		.title{
			position: relative;
			width: 240px;
			margin: 0 auto;
			display: inline-block;
			font-size: 1.875rem;
			font-weight: 600;
			font-family: 'Noto Sans TC', sans-serif;
			text-align: center;
			&::before{
				content: '';
				position: absolute;
				top: calc(50% - 12px);
				left: 32px;
				width: 3px;
				height: 32px;
				background: $orange;
				transform: rotate(-25deg);
			}
			&::after{
				content: '';
				position: absolute;
				top: calc(50% - 12px);
				right: 32px;
				width: 3px;
				height: 32px;
				background: $orange;
				transform: rotate(25deg);
			}
		}
	}
	#popular-products{
		position: relative;
		&::after{
			content: '';
			position: absolute;
			left: -86px;
			bottom: -10px;
			background: $orange;
			width: 267px;
			height: 267px;
			border-radius: 50%;
			z-index: -1;
		}
		.product-img{
			border: solid 3px $orange;
			border-radius: 50%;
			overflow: hidden;
			box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
		}
		.product-info{
			padding: 2rem 4rem;
			.title{
				font-family: 'Noto Sans TC';
				font-size: 1.5rem;
				font-weight: 600;
				margin-top: 3rem;
				margin-bottom: 3rem;
			}
		}
	}
}
footer{
	padding: 20px 20px 10px;
	background: #272727;
	color: #fff;
	ul{
		list-style: none;
		padding-left: 0;
		li{
			margin-bottom: 16px;
		}
	}
}