// color
$blue:    #2D81FF !default;
$orange:  #FF782D !default;
$text: #212529 !default;

a{
	text-decoration: none;
}

// btn
.btn-primary{
	background: $orange;
	border: solid 1px $orange;
	border-radius: 30px;
	&:hover{
		background: lighten($color: $orange, $amount: 5%);
		border: solid 1px $orange;
	}
}

