footer {
  background: #272727;
  color: #fff;
  padding: 20px 20px 0;
}

.footer-info {
  @include phone {
    order: 2;
  }

  ul {
    padding: 20px;
    list-style: none;
    margin-top: 3rem;
    margin-bottom: 0;

    @include tablet-landscape {
      margin-top: 0;
    }

    li {
      margin-bottom: 16px;
    }
  }
}

.footer-logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include tablet-portrait {
    justify-content: flex-start;
  }

  @include phone {
    order: 1;
  }

  img {
    margin: 16px;
  }
}

.copyright {
  width: 100%;
  padding: 12px 0;
  text-align: center;
  border-top: solid 1px #fff;
}